@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}


*{
  box-sizing: border-box;
}

p {
  font-family: 'Pacifico', cursive;
  white-space: pre;
}

body {
  overflow: hidden;
}

.text-shadow {
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}
